header
{

color:white;
border: 1px;
background-color:blue;
width:140px;
height:70px;
padding:12px;
border-radius:50%;
}


body

{

line-height:20px;
background-image:linear-gradient(lightyellow,yellow)

}